/* HistoricalData.css */
.historical-data {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}
.statistical-card {
  border: 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
}

.statistical-card h3 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 10px;
}

.statistical-card p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.chart-container {
  margin-bottom: 20px;
}
.statistical-card.blue {
  background-color: #007bff;
}

.statistical-card.green {
  background-color: #28a745;
}

.statistical-card.red {
  background-color: #dc3545;
}
.historical-data.blue {
  background-color: #007bff;
}
.data.historical-data.blue {
  background-color: #007bff;
}
